<h4>Dropbox Timelapse Settings</h4>

<p>You must provide an API Token to be able to upload rendered timelapses to Dropbox.</p>
<p>To do this, <a href="https://www.dropbox.com/developers/apps/create" target="_blank">create a Dropbox App</a>,
    select 'Dropbox API' -> 'App Folder' -> Provide Folder Name.</p>
<p>Once the app is created, scroll down to the `OAuth 2` section, and click `Generate Token'. Paste the token here.</p>

<form class="form-horizontal" onsubmit="return false;">
    <p>
        <label for="dropbox_timelapse_api_token"><strong>API Token</strong></label>
        <input class="input-text input-block-level" type="text" id="dropbox_timelapse_api_token" data-bind="value: settings.plugins.dropbox_timelapse.api_token">
    </p>

    <p>
        <label for="dropbox_timelapse_delete_after_upload"><strong>Delete After Upload?</strong></label>
        <input class="input-checkbox" type="checkbox" id="dropbox_timelapse_delete_after_upload" data-bind="checked: settings.plugins.dropbox_timelapse.delete_after_upload">
    </p>
</form>
